/* Apply a natural box layout model to all elements, but allowing components to change. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
html {
  box-sizing: border-box;
  height: 100%;
  min-width: 320px;
  width: 100%;
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  color: #a2a2a2;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  max-width: 1180px; }

.header {
  display: flex;
  justify-content: space-between; }

.logo {
  display: inline-block;
  text-decoration: none;
  background: url(../img/bg/blue-logo.svg);
  background-size: 181px 50px;
  height: 50px;
  width: 181px; }

.nav {
  display: flex;
  text-transform: uppercase; }

.menu {
  display: flex;
  list-style: none;
  padding: 0; }
  .menu__item {
    float: left;
    margin-left: 54px; }
    .menu__item--login {
      border: 1px solid #0188c9; }
  .menu__link {
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 10px 11px;
    text-decoration: none;
    text-transform: uppercase;
    outline: none; }
    .menu__link--login {
      color: #0188c9; }
    .menu__link--selected {
      text-decoration: underline; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1; }

footer {
  margin: auto; }
