
// Apply a natural box layout model to all elements, but allowing components to change.
html {
  box-sizing: border-box;
  height: 100%;
  min-width: $minWidth;
  width: 100%;
  margin: 0;
  padding: 0;
  // Fixes disables automatic portrait -> landscape font zoom.
  -webkit-text-size-adjust: 100%;

  // Customize your perfect background here.
  //background: url(../img/full_screen_background.jpg) no-repeat center center fixed;
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //background-size: cover;
}

*, *:before, *:after {
  box-sizing: inherit;
}
// Special exception to images to avoid unnecessary resizing when they have a border.
img { box-sizing: content-box; }

body {
  color: $baseColor;
  font-family: 'Trebuchet MS', 'Helvetica', 'Arial Unicode MS', 'Arial';
  font-size: $baseFontSize;
  font-weight: 300;
  line-height: 1.2;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.5 * $baseFontSize;
  font-weight: 400;
  text-align: center;
  margin: 1rem;

   @include phablet {
      font-size: 1.8 * $baseFontSize;
  }
}

p,
ul,
table {
  margin: 0;
}

a {
  color: $linkColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $hoverLinkColor;
  }
}

.section {
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: 992px) {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.preface {
  font-size: $baseFontSize + 8;
  text-align: center;

  @include phablet {
      font-size: $baseFontSize + 2;
  }
}
