.footer {
  @include flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @include separatorOnTheTop;

  margin-bottom: 1em;

  &__copyright {
    text-align: center;
    padding: 0;
    margin: 1em 2em 0 2em;
  }

  &__link {
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
  }
}

.footer__nav {
  @include flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 1em 0 0 0;

  &-item {
   margin: 0 0.5em 0 0.5em;
  }
}
