// The code below makes footer sticky at the bottom of the page.
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1;
}

// Footer styling.
footer {
  margin: 0 auto;
}

.footer {
  &__copyright {
    display: inline-block;

    &--separated {
      padding-right: 10px;
      border-right: 1px solid $baseColor;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: $baseColor;
    margin-left: 10px;

    &:hover{
      text-decoration: underline;
    }
  }
}