.header {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.logo {
  display: inline-block;
  text-decoration: none;
  background: url(#{$bg}blue-logo.svg);
  background-size: 181px 50px;
  height: 50px;
  width: 181px;
}

.menu {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  padding: 0;

  &__item {
    float: left;
    margin-left: 54px;
    
    &--login {
      border: 1px solid $linkColor;
    }
  }

  &__link {
    color: $blackColor; 
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 10px 11px;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;

    &--login {
      color: $linkColor;

      &:hover {
        background-color: #008fd3;
        color: $whiteColor;
      }
    }

    &--selected {
      text-decoration: underline;
    }
  }
}
