.header {
  display: flex;
  justify-content: space-between;
}

.logo {
//    padding: 20px;
  display: inline-block;
  text-decoration: none;
  background: url(#{$bg}blue-logo.svg);
  background-size: 181px 50px;
  height: 50px;
  width: 181px;
  // transition: .5s;
  // opacity: 0.8;
}


.nav {
  display: flex;
//  align-items: baseline;
  text-transform: uppercase;

  &__hamburger {
    padding: 20px;
    display: none;
  }

  &__item {
    padding: 20px;
    display: inline;
    text-decoration: none;
  }
}
