$img: "../img/";
$bg:  "#{$img}bg/";
$ico: "#{$img}ico/";

$whiteColor:            #fff;
$blackColor:            #000;
$baseBgColor:           #fafafa;
$baseColor:             #a2a2a2;
$titleColor:            #6b6e70;
$baseFontSize:          14px;
$maxWidth:              1180px;
$linkColor:             #0188c9;
$hoverLinkColor:        #18a4e7;
$borderColor:           #d1d1d1;