$img: "../img/";
$bg:  "#{$img}bg/";
$ico: "#{$img}ico/";

// Colors.
$whiteColor:            #fff;
$blackColor:            #000;
$baseBgColor:           $whiteColor;
$baseColor:             #a2a2a2;
$titleColor:            #6b6e70;
$linkColor:             #0188c9;
$hoverLinkColor:        #18a4e7;
$borderColor:           #d1d1d1;
// The main fill color of the logo.
$logoColor:             #008dd0;

$baseFontSize:          16px;

$minWidth:              320px;
$maxWidth:              1180px;

// TODO: Move all global width variables here and calculate others relatively.
$phabletWidth:          768px;
$mobileWidth:           320px;
$smartphoneWidth:       425px;