$img: "../img/";
$bg:  "#{$img}bg/";
$ico: "#{$img}ico/";

// Colors.
$whiteColor:            #fff;
$blackColor:            #000;
$baseBgColor:           $whiteColor;
$baseColor:             #6b6e70;
$titleColor:            #3A3F42;
$linkColor:             #0188c9;
$hoverLinkColor:        #18a4e7;
// The main fill color of the logo.
$logoColor:             #008dd0;
$tableRowColor:         #eeeeee;

$baseFontSize:          16px;

// TODO: Move all global width variables here and calculate others relatively.
$minWidth:              320px;
$maxWidth:              1180px;
