/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Apply a natural box layout model to all elements, but allowing components to change. */
html {
  box-sizing: border-box;
  height: 100%;
  min-width: 320px;
  width: 100%;
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  color: #a2a2a2;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0; }

p,
ul,
table {
  margin: 0; }

h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 65px;
  text-transform: uppercase; }
  @media (max-width: 768px) {
    h1 {
      font-size: 25px;
      line-height: 40px;
      max-width: 460px;
      margin: 0 auto; } }

h2 {
  color: #a2a2a2;
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
  position: relative;
  text-align: center; }
  @media (max-width: 768px) {
    h2 {
      font-size: 22px;
      line-height: 24px; } }

.section__container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px; }
  @media (max-width: 992px) {
    .section__container {
      padding: 0 15px; } }

.title__main {
  padding-bottom: 56px; }
.title__second {
  margin: 0 auto;
  max-width: 980px; }

/** icons **/
/** end icons **/
.header__cont {
  overflow: hidden;
  padding: 20px;
  max-width: 1180px;
  margin: 0 auto; }
  @media (max-width: 992px) {
    .header__cont {
      padding: 11px 15px 9px; } }

.logo {
  display: inline-block;
  text-decoration: none;
  background-image: url(../img/bg/blue-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 181px; }

.menu {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  padding: 0;
  float: right; }
  .menu__item {
    float: left;
    margin-left: 54px; }
    .menu__item--login {
      border: 1px solid #0188c9; }
  .menu__link {
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 10px 11px;
    text-decoration: none;
    text-transform: uppercase;
    outline: none; }
    .menu__link--login {
      color: #0188c9; }
      .menu__link--login:hover {
        background-color: #008fd3;
        color: #fff; }
    .menu__link--selected {
      text-decoration: underline; }

.nav-bar-btn {
  display: none;
  float: right;
  width: 24px;
  height: 20px;
  background-image: url(../img/ico/bar-icon.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 4px; }

@media (max-width: 992px) {
  .logo {
    height: 30px;
    width: 95px;
    float: left; }

  .menu {
    display: none; }

  .nav-bar-btn {
    display: block; } }
.footer {
  border-top: 1px solid #d1d1d1; }
  .footer__container {
    overflow: hidden;
    padding: 20px;
    max-width: 1180px;
    margin: 0 auto; }
  .footer__copyright {
    display: inline-block; }
  .footer__link {
    display: inline-block;
    text-decoration: none;
    color: #a2a2a2; }
    .footer__link:hover {
      text-decoration: underline; }

.footer-nav {
  list-style: none;
  padding: 0;
  float: right; }
  .footer-nav__item {
    float: left;
    margin-right: 20px; }
    .footer-nav__item:last-child {
      margin-right: 0; }

@media (max-width: 768px) {
  .footer {
    text-align: center; }
    .footer__copyright {
      display: block; }

  .footer-nav {
    float: none;
    margin-bottom: 5px; }
    .footer-nav__item {
      float: none;
      display: inline; } }
.banner {
  background-image: url(../img/bg/banner.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  color: #fff;
  text-align: center;
  padding: 56px 0; }

.preface {
  font-size: 20px;
  font-weight: 300;
  line-height: 21px;
  margin: 0 auto;
  max-width: 840px;
  text-align: center; }

.btn {
  margin: 111px auto 18px;
  font-size: 14px;
  font-weight: 700;
  padding: 21px 31px;
  text-transform: uppercase;
  background-color: #0188c9;
  color: #fff;
  display: inline-block;
  text-decoration: none; }
  .btn:hover {
    color: #fff;
    background-color: #18a4e7; }

.banner-section {
  color: #fff;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  height: 100vh;
  min-height: 780px;
  max-height: 1080px;
  position: relative; }
  .banner-section .section-cont {
    box-sizing: border-box;
    display: block;
    max-width: 1400px;
    padding: 0 20px;
    width: 100%; }
  @media (max-width: 992px) {
    .banner-section {
      display: block;
      height: auto;
      min-height: auto; }
      .banner-section .section-cont {
        padding-bottom: 100px;
        padding-top: 81px; }
      .banner-section .main-heading {
        font-size: 28px;
        line-height: 42px; }
        .banner-section .main-heading span {
          display: inline; } }
  @media (max-width: 767px) {
    .banner-section {
      display: block;
      height: auto;
      min-height: auto; }
      .banner-section .section-cont {
        padding-bottom: 0; }
      .banner-section .main-heading {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        padding: 0 5px 45px;
        text-align: center; }
        .banner-section .main-heading span {
          display: inline; }
      .banner-section .preface {
        display: none; }
      .banner-section .btn-wrap {
        margin: 0 auto;
        max-width: 250px;
        padding: 2px 9px 18px; }
      .banner-section .btn-custom {
        display: block;
        padding: 12px 33px 14px; }
      .banner-section .slide-down {
        display: none; } }

.demo-access {
  color: #fff;
  margin: 0 auto;
  max-width: 680px; }
  .demo-access h2 {
    color: #fff;
    padding-bottom: 48px; }
    .demo-access h2:before {
      display: none; }
  .demo-access .preface {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 55px;
    text-align: center; }
  .demo-access .form {
    max-width: 380px;
    padding-top: 62px; }
    .demo-access .form .form-group {
      padding-bottom: 14px;
      width: 100%; }
    .demo-access .form textarea {
      min-height: 102px; }
    .demo-access .form .btn-custom {
      margin-top: 36px;
      width: 100%; }

.plus {
  padding: 56px 0; }

.plus-container {
  padding-top: 51px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .plus-container__item {
    width: 23.7%;
    text-align: center; }
  .plus-container__title {
    color: #6b6e70;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 16px;
    text-align: center;
    text-transform: uppercase;
    position: relative; }
    .plus-container__title span {
      display: block; }
  .plus-container__text {
    font-weight: 400;
    padding: 0 15px 20px; }
  @media (max-width: 992px) {
    .plus-container .plus-container__item {
      padding-bottom: 11px;
      width: 48%; } }
  @media (max-width: 543px) {
    .plus-container .plus-container {
      padding-top: 52px; }
      .plus-container .plus-container__item {
        width: 100%; }
      .plus-container .plus-container__title {
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 22px;
        padding-left: 75px;
        position: relative;
        text-align: left; }
        .plus-container .plus-container__title span {
          display: inline; }
      .plus-container .plus-container__text {
        font-weight: 400;
        padding: 0 15px 20px 76px;
        text-align: left; } }

.system-container {
  background-image: url(../img/bg/device.png);
  background-position: 63% 100%;
  background-repeat: no-repeat;
  background-size: 56.4% auto;
  margin-bottom: 11px;
  margin-top: 56px;
  min-height: 834px;
  position: relative; }
  .system-container__item {
    min-width: 240px;
    position: absolute;
    text-align: center; }
    .system-container__item:after {
      background-image: url(../img/bg/big-arrows-sprite.png);
      background-repeat: no-repeat;
      content: '';
      position: absolute;
      z-index: -1; }
  .system-container__title {
    color: #75787a;
    font-size: 18px;
    font-weight: 300; }
  .system-container__text {
    font-weight: 400; }
  .system-container__equipment {
    bottom: 15.5%;
    left: 2%;
    max-width: 242px; }
    .system-container__equipment:after {
      background-position: 0 0;
      height: 71px;
      left: 46%;
      top: -33%;
      width: 21px; }
  .system-container__transfer {
    left: 8.8%;
    max-width: 249px;
    top: 16.1%; }
    .system-container__transfer:after {
      background-position: -25px 0;
      height: 88px;
      left: 77%;
      top: -36.5%;
      width: 146px; }
  .system-container__processing {
    left: 38.5%;
    max-width: 264px;
    top: -0.9%; }
    .system-container__processing:after {
      background-position: -180px 0;
      height: 84px;
      left: 107%;
      top: 19%;
      width: 140px; }
  .system-container__g-report {
    max-width: 270px;
    right: 10.1%;
    top: 16.1%; }
    .system-container__g-report:after {
      background-position: -340px 0;
      height: 74px;
      left: 86%;
      top: 107%;
      width: 20px; }
  .system-container__u-report {
    bottom: 19.9%;
    max-width: 260px;
    right: 1.3%; }
    .system-container__u-report:after {
      display: none; }

@media (max-width: 992px) {
  .system-container {
    background-position: 20% center;
    background-size: 50%;
    min-height: auto;
    overflow: hidden; }
    .system-container__item {
      max-width: 45%;
      min-height: 240px;
      padding-bottom: 50px;
      position: relative; }
      .system-container__item:after {
        background-image: url(../img/bg/arrow.png);
        background-repeat: no-repeat;
        content: '';
        position: absolute;
        z-index: -1; }
    .system-container__title {
      color: #75787a;
      font-size: 18px;
      font-weight: 300; }
    .system-container__text {
      font-weight: 400; }
    .system-container__equipment {
      float: left;
      left: 0;
      max-width: 40%;
      top: 0; }
      .system-container__equipment:after {
        background-position: 0 0;
        height: 71px;
        left: auto;
        right: -35%;
        top: 35%;
        transform: rotate(-90deg);
        width: 21px; }
    .system-container__transfer {
      float: right;
      max-width: 40%;
      left: 0;
      top: 0; }
      .system-container__transfer:after {
        background-position: 0 0;
        bottom: 0;
        height: 71px;
        left: 48%;
        top: auto;
        width: 21px; }
    .system-container__processing {
      float: right;
      left: 0;
      max-width: 40%;
      padding-bottom: 80px;
      top: 0; }
      .system-container__processing:after {
        background-position: 0 0;
        bottom: 0;
        height: 71px;
        left: 48%;
        top: auto;
        width: 21px; }
    .system-container__g-report {
      clear: both;
      float: right;
      max-width: 40%;
      left: 0;
      top: 0; }
      .system-container__g-report:after {
        background-position: 0 0;
        height: 71px;
        left: -35%;
        top: 35%;
        transform: rotate(90deg);
        width: 21px; }
    .system-container__u-report {
      float: left;
      left: 0;
      max-width: 40%;
      top: 0; }
      .system-container__u-report:after {
        display: none; } }
@media (max-width: 768px) {
  .system-container {
    background: url(../img/bg/device-543.png) no-repeat;
    background-position: 50% 97.75%;
    margin-bottom: 11px;
    margin-top: 19px;
    padding-bottom: 239px; }
    .system-container__item {
      left: 0;
      min-height: auto;
      min-width: none;
      position: relative;
      padding-bottom: 66px;
      top: 0; }
      .system-container__item:after {
        background-image: url(../img/bg/arrow.png);
        background-repeat: no-repeat;
        content: '';
        position: absolute;
        z-index: -1; }
    .system-container__title {
      font-size: 18px;
      font-weight: 300;
      padding-bottom: 21px; }
    .system-container__text {
      font-size: 14px;
      padding: 0 23px; }
    .system-container__equipment {
      left: 0;
      max-width: none; }
      .system-container__equipment:after {
        bottom: 8px;
        height: 43px;
        left: 50%;
        margin-left: -8px;
        top: auto;
        transform: rotate(0);
        width: 17px; }
    .system-container__transfer {
      max-width: none;
      left: 0; }
      .system-container__transfer:after {
        bottom: 8px;
        height: 43px;
        left: 50%;
        margin-left: -8px;
        width: 17px; }
    .system-container__processing {
      left: 0;
      max-width: none; }
      .system-container__processing:after {
        bottom: 8px;
        height: 43px;
        left: 50%;
        margin-left: -8px;
        top: auto;
        width: 17px; }
    .system-container__g-report {
      left: 0;
      max-width: none; }
      .system-container__g-report:after {
        bottom: 8px;
        height: 43px;
        left: 50%;
        margin-left: -8px;
        top: auto;
        transform: rotate(0);
        width: 17px; }
    .system-container__u-report {
      max-width: none; } }
.plus-icon:before {
  background-image: url("../img/ico/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  content: '';
  position: relative;
  display: block;
  width: 62px;
  height: 62px;
  margin: 0 auto 30px; }
.plus-icon__automatic:before {
  background-position: 0 0; }
.plus-icon__economy:before {
  background-position: -149px 0; }
.plus-icon__availability:before {
  background-position: -300px 0; }
.plus-icon__simpliticy:before {
  background-position: -447px 0; }

@media (max-width: 543px) {
  .plus-icon:before {
    height: 35px;
    left: 19px;
    position: absolute;
    top: 0;
    width: 43px;
    margin: 0;
    background-size: 353px; }
  .plus-icon__automatic:before {
    background-position: 0 0; }
  .plus-icon__economy:before {
    background-position: -83px 0; }
  .plus-icon__availability:before {
    background-position: -171px 0; }
  .plus-icon__simpliticy:before {
    background-position: -254px 0; } }
.system-icon:before {
  background-image: url("../img/ico/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  content: '';
  position: relative;
  display: block;
  width: 84px;
  height: 83px;
  margin: 0 auto 20px; }
.system-icon__equipment:before {
  background-position: 1px -100px; }
.system-icon__transfer:before {
  background-position: -134px -100px; }
.system-icon__processing:before {
  background-position: -267px -100px; }
.system-icon__g-report:before {
  background-position: -406px -100px; }
.system-icon__u-report:before {
  background-position: -546px -100px; }

/*# sourceMappingURL=style.css.map */
