.content {
  margin-left: 0.3rem;
  margin-right: 0.3rem;

  @include notSmartphone {
    @include hyphens-justify;
  }

  h2 {
    margin: 2rem 0;
    text-align: center;
    @include phablet {
      text-align: left;
    }
  }

  h3 {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    text-align: center;
    @include phablet {
      text-align: left;
    }
  }

  p {
    margin-bottom: 0.5rem;
    text-indent: 2rem;
    @include phablet {
      text-indent: 0;
      text-align: left;
    }
  }

  ul, ol {
    margin-bottom: 1rem;
    padding-left: 1.5rem;

    @include phablet {
      padding-left: 1rem;
    }
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
  }

  figure {
    @include notPhablet {
      max-width: 60vw;
      height: auto;
    }
    @include phablet {
      width: 100%;
      height: auto;
      margin: 0;
    }
  }

  figcaption {
    text-align: center;
    font-style: italic;
  }
}
