$contentTextIndent: 2rem;

.content {
  @include hyphens-justify;

  h2 {
    margin: 2rem 0;
    text-indent: $contentTextIndent;
  }

  h3 {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    text-indent: $contentTextIndent;
  }

  p {
    margin-bottom: 0.5rem;
    text-indent: $contentTextIndent;
  }

  ul, ol {
    margin-bottom: 1rem;
    padding-left: 1.5rem;

    @include phablet {
      padding-left: 1rem;
    }
  }

  img {
    max-width: 90%;
    max-height: 80vh;
    min-height: 100%;
    margin: 0.5rem auto;
    display: block;
  }
}