.content__technology {
  td p {
    text-indent: 0;
    text-align: left;
  }

  table {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid $tableRowColor;
    border-collapse: collapse;
  }

  tbody tr:nth-child(odd) {
    background-color: $tableRowColor;
  }
}
