.team-member {
  width: 50%;
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;

  @include phablet {
    width: 100%;
  }

  @include smartphone {
    padding: 0;
  }

  &__img {
    display: block;
    width: 140px;
    height: 140px;
    float: left;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
  }

  &__description {
    p {
      @include hyphens-justify;
    }
  }

  &__name {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  &__title {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
}
