.team {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.team-container {
  padding-top: 3rem;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
