.team {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.team-container {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.publications {
  h3 {
    margin: 10px 0px;
  }
}
