.banner {
  background-image: url(#{$bg}banner.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  color: $whiteColor;
  text-align: center;
  padding: 56px 0;
}

.btn {
  margin: 111px auto 18px;
  font-size: $baseFontSize;
  font-weight: 700;
  padding: 21px 31px;
  text-transform: uppercase;
  background-color: #0188c9;
  color: $whiteColor;
  display: inline-block;
  text-decoration: none;

  &:hover {
    color: #fff;
    background-color: #18a4e7;
  }
}