$pleasantPadding: 2rem;

.banner {
  background-image: url(#{$bg}banner.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #282e4e;
  color: $whiteColor;
  text-align: center;
  padding: $pleasantPadding 0;
}

.preface {
  margin: $pleasantPadding;
}

.action-button {
  margin: 1rem;
  font-size: $baseFontSize;
  font-weight: normal;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  background-color: $linkColor;
  color: $whiteColor;
  display: inline-block;
  text-decoration: none;

  &:hover {
    background-color: $whiteColor;
    color: $linkColor;
  }
}
