.faq {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;

  &__item {
    border: 1px solid $borderColor;
    box-sizing: border-box;
    margin-bottom: 19px;
    padding: 25px 29px;
    width: 49.15%;

    @include phablet {
      width: auto;
    }
  }

  &__question {
    color: $linkColor;
    font-size: $baseFontSize - 2;
    font-weight: 400;
    padding-bottom: 12px;
    text-transform: uppercase;
  }

  &__title {
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 46px;
  }

  &__answer {
    font-weight: 400;
  }
}