.plus-icon {
  &:before {
    background-image: url('#{$ico}sprite2.svg');
    background-size: 262px;
    background-repeat: no-repeat;
    background-position: 0 0;
    content: '';
    position: relative;
    display: block;
    width: 62px;
    height: 62px;
    margin: 0 auto 30px;
  }

  &__automatic {
    &:before {
      background-position: 0 0;
    }
  }

  &__economy {
    &:before {
      background-position: -70px 0;
    }
  }

  &__availability {
    &:before {
      background-position: -140px 0;
    }
  }

  &__simplicity {
    &:before {
      background-position: -210px 0;
    }
  }
}
@media (max-width: 543px) {
  .plus-icon {
    &:before {
      left: 19px;
      position: absolute;
      top: 0;
      margin: 0;
    }
  }
}


.system-icon {
  &:before {
    background-image: url('#{$ico}sprite.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 505px;
    content: '';
    position: relative;
    display: block;
    width: 84px;
    height: 84px;
    margin: 0 auto 20px;
  }

  &__equipment {
    margin-bottom: 18px;

    &:before {
      background-position: -8px 0;
      height: 70px;
      margin-bottom: 8px;
    }
  }

  &__transfer {
    margin-bottom: 18px;

    &:before {
      background-position: -106px 0;
      height: 72px;
      margin-bottom: 1px;
    }
  }

  &__processing {
    margin-bottom: 18px;

    &:before {
      background-position: -211px 0;
      height: 67px;
      margin-bottom: 6px;
    }
  }

  &__g-report {
    margin-bottom: 18px;

    &:before {
      background-position: -313px 0;
      height: 69px;
      margin-bottom: 2px;
    }
  }

  &__u-report {
    margin-bottom: 18px;

    &:before {
      background-position: -413px 0;
      margin-bottom: 2px;
    }
  }
}