// This file holds "global" page rules, not related to any specific block.

.section {
  &__container {
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 0 20px;

    @media (max-width: 992px) {
      padding: 0 15px;
    }
  }
}

.title {
  &__main {
    padding-bottom: 56px;
  }

  &__second {
    margin: 0 auto;
    max-width: 980px;
  }
}

.preface {
  font-size: $baseFontSize + 7;
  font-weight: 300;
  line-height: 21px;
  margin: 0 auto;
  max-width: 840px;
  text-align: center;

  &--system {
    font-size: $baseFontSize;
    line-height: 18px;
    max-width: 790px;
  }
}