// This file holds "global" page rules, not related to any specific block.

.section {
  &__container {
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 0 20px;

    @media (max-width: 992px) {
      padding: 0 15px;
    }
  }
}

.title {
  &__main {
    padding-bottom: 56px;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 25px;
      max-width: 460px;
      margin: 0 auto;
    }
  }

  &__second {
    margin: 0 auto;
    max-width: 980px;
    font-size: 40px;
    font-weight: 300;
    position: relative;
    text-align: center;
    padding-bottom: 17px;

    @media (max-width: 768px) {
      font-size: 22px;
    }
  }
}

.preface {
  font-size: $baseFontSize + 7;
  font-weight: 300;
  line-height: 21px;
  margin: 0 auto;
  max-width: 840px;
  text-align: center;

  &--system {
    font-size: $baseFontSize;
    max-width: 790px;
  }
}