.plus-container {
  margin-top: 3rem;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;

  &__item {
    width: 23.7%;
    text-align: center;
  }

  &__title {
    color: #6b6e70;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 16px;
    text-align: center;
    text-transform: uppercase;
    position: relative;

    span {
      display: block;
    }
  }

  &__text {
    font-weight: 400;
    padding: 0 15px 20px;
    @include hyphens-justify;
  }

  @media (max-width: 992px) {
    .plus-container {
      &__item {
        padding-bottom: 11px;
        width: 48%;
      }
    }
  }

  @media (max-width: 543px) {
    .plus-container {
      padding-top: 52px;

      &__item {
        width: 100%;
      }

      &__title {
        font-size: $baseFontSize;
        line-height: 18px;
        padding-bottom: 22px;
        padding-left: 95px;
        position: relative;
        text-align: left;

        span {
          display: inline;
        }
      }

      &__text {
        font-weight: 400;
        padding: 0 15px 20px 95px;
        text-align: left;
      }
    }
  }
}
