// Use mobile layout as a base, @media is used for desktop "exceptions".

$contactsBlockMargin: 1rem;

.preface--contacts {
  margin: 1rem;
}

.contacts {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;

  @include notSmartphone {
    justify-content: center;
    -webkit-justify-content: center;
  }
}

.contacts__office {
  margin: $contactsBlockMargin;
}

.contacts__h2 {
  text-align: left;
  margin-bottom: 1rem;
}

.contacts__h3 {
  margin-bottom: 0.3rem;
}

.contacts__social {
  margin: $contactsBlockMargin;
}

.contacts__social-networks {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 0.5rem;
  }
}

.contacts__icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  // Do not fill padding and border area with background.
  background-origin: content-box;
  width: 32px;
  height: 32px;
  display: block;
  outline: none;
  padding: 0px;

  &:hover {
    opacity: 0.8;
  }
}

.contacts__icon--f {
  background-image: url(#{$ico}f.svg);
}

.contacts__icon--t {
  background-image: url(#{$ico}t.svg);
}

.contacts__icon--l {
  background-image: url(#{$ico}l.svg);
}
