// Use mobile layout as a base, @media is used for desktop "exceptions".

// Leaflet map SHOULD have some width and length.
#leaflet-map {
  width: 100vw;
  height: 100vw;
  @include notSmartphone {
    width: $smartphoneWidth;
    height: $smartphoneWidth;
    margin: 1rem;
  }
}
