/* Apply a natural box layout model to all elements, but allowing components to change. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
html {
  box-sizing: border-box;
  height: 100%;
  min-width: 320px;
  width: 100%;
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  color: #a2a2a2;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

.section__container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px; }

.title__main {
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  padding-bottom: 56px;
  text-transform: uppercase;
  margin: 0; }

.title__second {
  color: #a2a2a2;
  font-size: 48px;
  font-weight: 300;
  line-height: 48px;
  margin: 0 auto;
  max-width: 980px;
  position: relative;
  text-align: center; }

/** icons **/
/** end icons **/
.header__cont {
  overflow: hidden;
  padding: 0 20px;
  max-width: 1180px;
  margin: 0 auto; }

.logo {
  display: inline-block;
  text-decoration: none;
  background-image: url(../img/bg/blue-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 181px; }

.menu {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  padding: 0;
  float: right; }
  .menu__item {
    float: left;
    margin-left: 54px; }
    .menu__item--login {
      border: 1px solid #0188c9; }
  .menu__link {
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 10px 11px;
    text-decoration: none;
    text-transform: uppercase;
    outline: none; }
    .menu__link--login {
      color: #0188c9; }
      .menu__link--login:hover {
        background-color: #008fd3;
        color: #fff; }
    .menu__link--selected {
      text-decoration: underline; }

footer {
  margin: 0 auto;
  text-align: center;
  max-width: 1180px; }

.footer__copyright {
  display: inline-block; }
  .footer__copyright--separated {
    padding-right: 10px;
    border-right: 1px solid #a2a2a2; }

.footer__link {
  display: inline-block;
  text-decoration: none;
  color: #a2a2a2;
  margin-left: 10px; }
  .footer__link:hover {
    text-decoration: underline; }

.banner {
  background-image: url(../img/bg/banner.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  color: #fff;
  text-align: center;
  padding: 56px 0px; }

.preface {
  font-size: 20px;
  font-weight: 350;
  line-height: 21px;
  margin: 0 auto;
  max-width: 840px;
  text-align: center; }

.btn {
  margin: 111px auto 18px;
  font-size: 14px;
  font-weight: 700;
  padding: 21px 31px;
  text-transform: uppercase;
  background-color: #0188c9;
  color: #fff;
  display: inline-block;
  text-decoration: none; }
  .btn:hover {
    color: #fff;
    background-color: #18a4e7; }

.banner-section {
  color: #fff;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  height: 100vh;
  min-height: 780px;
  max-height: 1080px;
  position: relative; }
  .banner-section .section-cont {
    box-sizing: border-box;
    display: block;
    max-width: 1400px;
    padding: 0 20px;
    width: 100%; }
  @media (max-width: 992px) {
    .banner-section {
      display: block;
      height: auto;
      min-height: auto; }
      .banner-section .section-cont {
        padding-bottom: 100px;
        padding-top: 81px; }
      .banner-section .main-heading {
        font-size: 28px;
        line-height: 42px; }
        .banner-section .main-heading span {
          display: inline; } }
  @media (max-width: 767px) {
    .banner-section {
      display: block;
      height: auto;
      min-height: auto; }
      .banner-section .section-cont {
        padding-bottom: 0; }
      .banner-section .main-heading {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        padding: 0 5px 45px;
        text-align: center; }
        .banner-section .main-heading span {
          display: inline; }
      .banner-section .preface {
        display: none; }
      .banner-section .btn-wrap {
        margin: 0 auto;
        max-width: 250px;
        padding: 2px 9px 18px; }
      .banner-section .btn-custom {
        display: block;
        padding: 12px 33px 14px; }
      .banner-section .slide-down {
        display: none; } }

.demo-access {
  color: #fff;
  margin: 0 auto;
  max-width: 680px; }
  .demo-access h2 {
    color: #fff;
    padding-bottom: 48px; }
    .demo-access h2:before {
      display: none; }
  .demo-access .preface {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 55px;
    text-align: center; }
  .demo-access .form {
    max-width: 380px;
    padding-top: 62px; }
    .demo-access .form .form-group {
      padding-bottom: 14px;
      width: 100%; }
    .demo-access .form textarea {
      min-height: 102px; }
    .demo-access .form .btn-custom {
      margin-top: 36px;
      width: 100%; }

.plus {
  padding: 56px 0px; }

.plus-container {
  padding-top: 51px;
  display: flex;
  justify-content: space-between; }
  .plus-container__item {
    width: 23.7%;
    text-align: center; }
  .plus-container__title {
    color: #6b6e70;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 16px;
    text-align: center;
    text-transform: uppercase; }
    .plus-container__title span {
      display: block; }
  .plus-container__text {
    font-weight: 400;
    padding: 0 15px 20px; }

.system-container {
  background-image: url(../img/bg/device.png);
  background-position: 63% 100%;
  background-repeat: no-repeat;
  background-size: 56.4% auto;
  margin-bottom: 11px;
  margin-top: 56px;
  min-height: 834px;
  position: relative; }
  .system-container__item {
    min-width: 240px;
    position: absolute;
    text-align: center; }
    .system-container__item:after {
      background-image: url(../img/bg/big-arrows-sprite.png);
      background-repeat: no-repeat;
      content: '';
      position: absolute;
      z-index: -1; }
  .system-container__title {
    color: #75787a;
    font-size: 18px;
    font-weight: 300; }
  .system-container__text {
    font-weight: 400; }
  .system-container__equipment {
    bottom: 15.5%;
    left: 2%;
    max-width: 242px; }
    .system-container__equipment:after {
      background-position: 0 0;
      height: 71px;
      left: 46%;
      top: -33%;
      width: 21px; }
  .system-container__transfer {
    left: 8.8%;
    max-width: 249px;
    top: 16.1%; }
    .system-container__transfer:after {
      background-position: -25px 0;
      height: 88px;
      left: 77%;
      top: -36.5%;
      width: 146px; }
  .system-container__processing {
    left: 38.5%;
    max-width: 264px;
    top: -0.9%; }
    .system-container__processing:after {
      background-position: -180px 0;
      height: 84px;
      left: 107%;
      top: 19%;
      width: 140px; }
  .system-container__g-report {
    max-width: 270px;
    right: 10.1%;
    top: 16.1%; }
    .system-container__g-report:after {
      background-position: -340px 0;
      height: 74px;
      left: 86%;
      top: 107%;
      width: 20px; }
  .system-container__u-report {
    bottom: 19.9%;
    max-width: 260px;
    right: 1.3%; }
    .system-container__u-report:after {
      display: none; }
